<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
      </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
      </script>
</head>
<body>
<h1> Lobby </h1>
<br><h3>Players in the game: </h3>
<div class="players">

</div>

<script>
const interval = setInterval(function() {
   $.ajax({
        type: 'POST',
        url: '{% url 'get_players' %}',
        data: {
                    'room_code':{{room_code}},
        },
        dataType: 'json',
        success: function (data) {
            for(let i=0;i<data.players.length;i++){
                html += "<p>"+ data.players.username +"</p>"
            }
            $( '.players' ).empty().append(html);
        }
      });
 }, 5000);

clearInterval(interval);

</script>
</body>
</html>