{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
      </script>
    <script src="{% static 'js/utils.js' %}"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Play | {{room_code}}</title>


</head>

<style>
    @import url("https://fonts.googleapis.com/css?family=Catamaran:200");
    @import url("https://fonts.googleapis.com/css?family=Quicksand");


    .back {
    background-color: #919191;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

.front {
    position: absolute;
    border-radius: 50%;
    //background-color: red;
    font-size: 12px;

}

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.mastercard{background-image:url();}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1) grayscale(0.2) opacity(.7);
       -moz-filter: brightness(1) grayscale(0.2) opacity(.7);
            filter: brightness(1) grayscale(0.2) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.8) grayscale(.0) opacity(.9);
       -moz-filter: brightness(1.8) grayscale(.0) opacity(.9);
            filter: brightness(1.8) grayscale(.0) opacity(.9);
}

.table-card-holder{
        position: absolute;
      left:50%;
      top:50%;
      transform:translate(-50%, -50%);
}

</style>

<body class="bg-dark">

<div class='back' style="margin-top:100px"><div class="table-card-holder cc-selector"></div></div>

<div class="cc-selector d-flex align-items-center justify-content-center mt-5" id="card_holder">

<!--    <img src="{% static 'img/Club_1.jpg' %}" alt="image" style="height:50px;margin-left:50px">-->
</div>
    {% if creator %}<button onclick="myFunc();">Start Game</button> {% endif %}
{% if creator %}<button onclick="Shuffle();">Shuffle & Distribute</button> {% endif %}
<button onclick="GetCards();">Get Cards</button>
<button id='play' onclick="PlayChance();">Play Chance</button>
<button id='pass' onclick="Pass();">Pass</button>
<button onclick="DecideFirstPlayer();">Decide 1st Player</button>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.11.2/js/all.js"></script>


    <script>
$("#pass").hide();
   $("#play").hide();



 function nextOrFirst(elem,selector)
    {
      var next = elem.next(selector);

      return (next.length) ? next : elem.prevAll(selector).last();
    };

function activatePlayer(uid) {
    console.log(uid);
    data = {type:'chance','current_player':uid}
    socket.send(JSON.stringify({data}));
}

function Pass(){

   ancestor = $('svg[data-unique-id="{{uid}}"]');
   console.log(ancestor.parent().parent());
   $("#pass").hide();
   $("#play").hide();
   next = nextOrFirst(ancestor.parent().parent(),'.front');
   elem = next.find('svg');
   uid = elem.attr("data-unique-id");
   activatePlayer(uid);

}


function DecideFirstPlayer(){
$.ajax({
        type: 'POST',
        url: '{% url "first_player" %}',
        data: {
                    "room_code": "{{room_code}}"
        },
        dataType: 'json',
        success: function (data) {
            activatePlayer(data.uid);
        }
      });
}

 function arrayRotate(arr, count) {
      const len = arr.length
      arr.push(...arr.splice(0, (-count % len + len) % len))
      return arr
    }


gameHastStarted = true;
function addDots(players){
    $('.back').children().not(':first').remove();
     var N = players.length;
    var x = new Array(N);
        let idx = 0;
        for (let i = 0; i < x.length; i++) {
          x[i] = new Array(2);
          x[i][0] = players[i]["fields"]["name"];
          x[i][1] = players[i]["fields"]["uid"];
          if(x[i][1]=="{{uid}}"){
            idx = i;
          }
        }
        arrayRotate(x,N-idx);


       var pi = Math.PI, backR = 200, frontR = 30, radius = 150;

        $('.back').width(backR * 2).height(backR * 2);
        let iter =0;
        for(var angle = -pi/2; angle < (3 * pi)/2; angle += 2 * pi / N)
        {
            var s = $('<div class="front">').css({
                 left: backR - frontR + radius * Math.cos(angle) + 'px',
                 top:  backR - frontR + radius * Math.sin(angle) + 'px',
                 width:  frontR * 2 + 'px',
                 height: frontR * 2 + 'px',
                 textAlign:"center",
            });
            var randomColor = '#'+ ('000000' + Math.floor(Math.random()*16777215).toString(16)).slice(-6);
            s.append('<span style="font-size: 24px; color:'+randomColor+'"'+'><i data-unique-id="' +x[iter][1] +'" class="fas fa-user fa-lg"></i></span>');
            s.append('<p data-unique-id="' + x[iter][1]+'" >'+x[iter][0]+'</p>');
            //console.log(s);
            iter++;
            $('.back').append(s);
            //fa-spin
        }


   }
   function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
   }






async function StartGame() {
      console.log("fething players");
      while(gameHastStarted) {
         await sleep(3000);
         $.ajax({
        type: 'POST',
         async: false,
        url: '{% url "get_players" %}',
        data: {
                   "room_code": "{{room_code}}",
        },
        dataType: 'json',
        success: function (data) {

            if(data.closed=="DNE"){
                 $("body").html('<p>Game does not exist</p> <a href='+"{% url 'home' %}"+ '> Click Here to go to Homepage</a>')

            }
            else{
             if(data.closed){
                gameHastStarted = false;
                }

                players = JSON.parse(data.data);
                   html = "";
                   addDots(players);
            }

        }
      });
      }
   }





    function myFunc(){
        $.ajax({
        type: 'POST',
        url: '{% url "close_room" %}',
        data: {
                    "room_code": "{{room_code}}",
                    "uid" : "{{uid}}"
        },
        dataType: 'json',
        success: function (data) {
            console.log(data.message);
        }
      });
    }

    function Shuffle(){
        $.ajax({
        type: 'POST',
        url: '{% url "shuffle" %}',
        data: {
                    "room_code": "{{room_code}}",
                    "uid" : "{{uid}}"
        },
        dataType: 'json',
        success: function (data) {
            console.log(data.status);
        }
      });
    }


    function PlaceTableCards(unfolded_cards){
        console.log('inside Place');

         $('.table-card-holder').html("");
        for(let i=0;i<unfolded_cards.length;i++){
                var uniq = 'idtcu' + i;
                var one_card = '<input type="radio" name="table_cards" value="'+ unfolded_cards[i] + '" id='+ uniq +'><label class="drinkcard-cc" for='+ uniq+'><img src="/static/img/'+unfolded_cards[i]+'.jpg" alt="card image" style="height:50px;margin-left:10px"/></label>'
                $('.table-card-holder').append(one_card);
            }
            var uniq = 'idtcf';
            var folded = '<input type="radio" name="table_cards" value="folded"'  + ' id='+ uniq +'><label class="drinkcard-cc" for='+ uniq+'><img src="/static/img/folded.jpg" alt="card image" style="height:50px;margin-left:10px"/></label>'
            $('.table-card-holder').append(folded);

    }

    function GetCards(){
        //e.preventDefault();

        $.ajax({
        type: 'POST',
        url: '{% url "get_cards" %}',
        data: {
                    "room_code": "{{room_code}}",
                    "uid" : "{{uid}}"
        },
        dataType: 'json',
        success: function (data) {
            for(let i=0;i<data.player_cards.length;i++){

                var uniq = 'idpc' + i;

                var one_card = '<input type="checkbox" name="player_cards" value="'+ data.player_cards[i] + '" id='+ uniq +'><label class="drinkcard-cc" for='+ uniq+'><img src="/static/img/'+data.player_cards[i]+'.jpg" alt="card image" style="height:50px;margin-left:10px"/></label>'

                $('#card_holder').append(one_card);
                console.log(data.player_cards[i]);
            }

            PlaceTableCards(data.unfolded_cards);

            console.log(data.player_cards);
            console.log(data.unfolded_cards);
        }
      });
    }








   StartGame();

    function deleteAndAdd(selectedCards, pickedCard){
        console.log('inside delete',selectedCards,pickedCard);
        for(let i=0;i<selectedCards.length;i++){
            elem = $('input[name="player_cards"][value="'+selectedCards[i]+'"]')
            elemId = elem.attr('id');
            console.log(elemId);
            elem.remove();
            elemLabel = $('label[for="'+elemId+'"]')
            elemLabel.remove();

        }
        var uniq = elemId;

        var one_card = '<input type="checkbox" name="player_cards" value="'+ pickedCard + '" id='+ uniq +'><label class="drinkcard-cc" for='+ uniq+'><img src="/static/img/'+pickedCard+'.jpg" alt="card image" style="height:50px;margin-left:10px"/></label>'

        $('#card_holder').append(one_card);

    }



   function PlayChance(){
        let checkedRadioboxesValues = $('input[name="table_cards"]:checked').val();
        var checkedCheckboxesValues =
    $('input:checkbox[name="player_cards"]:checked')
        .map(function() {
            return $(this).val();
        }).get();
        //console.log(checkedRadioboxesValues);
        //console.log(checkedCheckboxesValues);
        //PlaceTableCards(checkedCheckboxesValues);
        let folded = false;
        let picked = checkedRadioboxesValues;
        if(checkedRadioboxesValues==='folded'){
            folded = true;
        }

        $.ajax({
        type: 'POST',
        url: '{% url "play_chance" %}',
        data: {
                    "room_code": "{{room_code}}",
                    "uid" : "{{uid}}",
                    "played": checkedCheckboxesValues,
                    "folded" : folded,
                    "picked" : picked
        },
        dataType: 'json',
        success: function (data) {
            // to change the cards for this player
            deleteAndAdd(checkedCheckboxesValues,data.picked);
            var data = {'type' : 'played','unfolded_cards': checkedCheckboxesValues}
            socket.send(JSON.stringify({data}));
        }
      });

   }





        var room_code = '{{room_code}}'
        var username = '{{username}}'
        var player = username.charAt(0)

        let socket = new WebSocket('ws://localhost:8000/ws/game/' +room_code)

        let gameState = ["","","","","","","","",""]

        let elementArray = document.querySelectorAll('.space')

        elementArray.forEach(function(elem){
            elem.addEventListener("click" , function (event){
                setText(event.path[0].getAttribute('data-cell-index') , player)
            })
        })


        function checkGameEnd(){
            var count = 0;
            gameState.map((game)=>{
                if(game != ""){
                    count++;
                }
            })

            if(count >= 9){
                var data = {'type' : 'over'}
                socket.send(JSON.stringify({data}))
                swal("Good over!" , "Game end no one won" , "warning")   
            }
        }

        function checkWon(value , player){
            var won = false;

            if(gameState[0] === value && gameState[1] == value && gameState[2] == value){
                won = true;
            }else if(gameState[3] === value && gameState[4] == value && gameState[5] == value){
                won = true
            }else if(gameState[6] === value && gameState[7] == value && gameState[8] == value){
                won = true
            }
            else if(gameState[0] === value && gameState[3] == value && gameState[6] == value){
                won = true
            }
            else if(gameState[1] === value && gameState[4] == value && gameState[7] == value){
                won = true
            }else if(gameState[2] === value && gameState[5] == value && gameState[8] == value){
                won = true
            }
            else if(gameState[0] === value && gameState[4] == value && gameState[8] == value){
                won = true
            }
            else if(gameState[2] === value && gameState[4] == value && gameState[6] == value){
                won = true
            }

            if(won){
                var data = {'type' : 'end' , 'player' : player}
                socket.send(JSON.stringify({data}))
                swal("Good job!" , "You won" , "success")
            }

            checkGameEnd();

        }



        function setText(index , value){
            var data = {
                'player' : player,
                'index' : index,
                'type' : 'running'
            }

            

            if(gameState[parseInt(index)] == ""){
            gameState[parseInt(index)] = value
            elementArray[parseInt(index)].innerHTML = value
            
            socket.send(JSON.stringify({
                data
            }))
            checkWon(value , player )
            }else{
                alert("You cannot fill this space")
            }
        }


        function setAnotherUserText(index , value){
            gameState[parseInt(index)] = value
            elementArray[parseInt(index)].innerHTML = value
        }






        socket.onopen = function (e){
            console.log('Socket connected')
        }

        socket.onmessage = function (e){
            var data = JSON.parse(e.data);
            console.log(data)
            if(data.payload.type == 'played'){
                PlaceTableCards(data.payload.unfolded_cards);
                return;
            }else if(data.payload.type == 'chance'){
                console.log(data.payload);
                current_player = data.payload.current_player
                if("{{uid}}"==current_player){
                    $("#pass").show();
                    $("#play").show();
                }
                $("svg").removeClass("fa-spin");
                ancestor = $('svg[data-unique-id="'+current_player+'"]');

                ancestor.addClass("fa-spin");

                //swal("Game over!" , "Game end no one won" , "warning")
                return;
            }else if(data.payload.type == 'running' &&  data.payload.player !== player){
                setAnotherUserText(data.payload.index , data.payload.player)
            }

        

        }

        socket.onclose = function (e){
            console.log('Socket closed')
        }



    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</body>

</html>